.wrapper{
    position: fixed;
    right: 250px;
    top: 130px;
    width: 340px;
    height: 600px;
    box-shadow: rgba(176, 176, 178, 0.3) 0px -5px 12px 0px inset, rgb(0 0 0 / 84%) 4px 6px 11px 1px inset;
    border-radius: 46px;
    padding: 16px 15px;
    z-index: -1;
}

.imgContainer{
    background-color: rgb(39, 43, 45);
    border-radius: 36px;
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    overflow: hidden;
}

.imgContainer img{
    min-width: 100%;    

}

.close,.open{
    position: relative;
    animation-direction: normal;
    animation-duration: 2s;
    animation-name: closing;
    animation-fill-mode: forwards;
}

@keyframes closing{
    0%{
        left: 0%;
    }

    100%{
        left: -100%;
    }
}