* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body{
  background-color: black;
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.open {
  animation-name: makeVisible;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.close {
  animation-name: makeInVisible;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 1;

}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes makeInVisible {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}